@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
      
} 


@font-face {
    font-family:'MonumentExtended-Regular' ;
    src: url(MonumentExtended-Regular.otf);
}
@font-face {
    font-family:'MonumentExtended-Ultrabold';
    src: url(MonumentExtended-Ultrabold.otf);
}




nav{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 1.5em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: #fff;
}


.round{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1)
}

.round:hover{
    transform: translate(-2px, -3px);
    transition: all ease 0.5s;
}


.round p{
    color: #fff;
    font-size: 12px;
}
.round p:hover{
    transform: translate(0px,0px);
}

.hero-con{
    background: url(Hero.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-cta{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.hero-cta div{
    text-align: center;
}

.hero-cta h2{
    font-size: 72px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-family:'MonumentExtended-Regular' ;
}


.hero-cta p{
    font-size: 20px;
}

.arrow{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 85%;
    text-align: center;
    border-radius: 50%;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow img{
    height: 25px;
    transform: rotate(90deg);
}



@media screen and (max-width:1200px){
    .hero-con{
        background: url(pexels-pixabay-260409.jpg);
        background-size: cover;
    }

    .hero-cta div{
        text-align: left;
        color: #fff;
    }

    .hero-cta h2{
        font-size: 28px;
        font-family:'MonumentExtended-Regular' ;
    }
    
    .hero-cta p{
        font-size: 14px;
    }

    .arrow-con{
        flex-basis: 15%;
        display: none;
    }

    .arrow{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow img{
        height: 20px;
    }
}








.showcase{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    overflow: hidden;
}


.showcase ul{
    width: 100%;
}

.showcase ul li{
    list-style: none;
    border-bottom: .05rem solid #000;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.link{
    display: flex;
    padding: 2rem 0 2rem 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
}

.link span{
    display: block;
    z-index: 2;
    mix-blend-mode: difference;
    display: inline-block;
    position: relative;
    font-size: 3.4rem;
    text-transform: uppercase;
}

.link span > img{
    mix-blend-mode: difference;
    z-index: 2;
}

.right-arrow{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hover-reveal{
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all .5s ease-out;
}

.hover-reveal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: text-transform .5s ease-out;
}

@media screen and (max-width:768px){
    .showcase{
        margin-top: 15%;
    }

    .link span{
        font-size: 1.2rem;
    }

    .right-arrow{
        width: 30px;
        height: 30px;
    }

    .link span > img{
        height: 18px;
    }

    .hover-reveal{
        width: 220px;
    }

}






