@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
      
} 


@font-face {
    font-family:'MonumentExtended-Regular' ;
    src: url(MonumentExtended-Regular.otf);
}
@font-face {
    font-family:'MonumentExtended-Ultrabold';
    src: url(MonumentExtended-Ultrabold.otf);
}




nav{
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 1.5em 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: #fff;
}


.round{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1)
}

.round:hover{
    background: #BC0B16;
    transform: translate(-2px, -3px);
    transition: all ease 0.8s;
}


.round p{
    color: #fff;
    font-size: 12px;
}
.round p:hover{
    transform: translate(0px,0px);
}


.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 30%;
    min-height: 100vh;
    background-color: #121212;
    z-index: 6;
    padding: 30px;
    box-shadow: -2px  0 4px  hsl(0 4% 15% / 10%);
    transition: all ease 0.8s;
}

.cart.active{
    right:0 ;
    transition: all ease 0.8s;
}

.menu{
    margin-top: 20px;
}

.menu h2{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f8f8f8;
}

.menu div{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.menu div li{
  list-style: none;
  margin-bottom: 20px;
}

.menu div li a{
    font-size: 32px;
    color: #f8f8f8;
    padding-bottom: 10px;
    transition: all ease 0.3s;
}

.menu div li a:hover{
    border-bottom: 2px solid #f8f8f8;
}

.spec span{
    font-weight: 800;
}

.spec div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spec div p{
    font-size: 12px;
}


@media screen and (max-width:990px){
    .menu nav{
        display: block;
    }

    .menu div li a{
        font-size: 24px;
        color: #f8f8f8;
        padding-bottom: 10px;
        transition: all ease 0.3s;
    }

    .cart{
        width: 80%;
    }

}


.hero-con{
    background: url(Hero.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-cta{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.hero-cta div{
    text-align: center;
}

.hero-cta h2{
    font-size: 72px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-family:'MonumentExtended-Regular' ;
}


.hero-cta p{
    font-size: 20px;
}

.arrow{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 85%;
    text-align: center;
    border-radius: 50%;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow img{
    height: 25px;
    transform: rotate(90deg);
}



@media screen and (max-width:1200px){
    .hero-con{
        background: url(pexels-pixabay-260409.jpg);
        background-size: cover;
    }

    .hero-cta div{
        text-align: left;
        color: #fff;
    }

    .hero-cta h2{
        font-size: 28px;
        font-family:'MonumentExtended-Regular';
    }
    
    .hero-cta p{
        font-size: 14px;
        font-family:'MonumentExtended-Regular';
    }

    .arrow-con{
        flex-basis: 15%;
        display: none;
    }

    .arrow{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow img{
        height: 20px;
    }
}

.overview{
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.annex{
    flex-basis: 80%;
}

.annex span{
    font-size: 20px;
}


.select-menu {
    flex-basis: 20%;
    height: auto;
    position: relative;
    background: #000; 
    border: none;
    border-radius: 30px;
}

.select-btn{
    width:100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding:0 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.sBtn-text{
    font-size: 14px;
}

.caret{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #fff;
    transition: 0.3s;
}


@media screen and (max-width:768px){  

    .overview{
        margin-top: 15%;
    }

    .annex span{
        font-size: 16px;
    }

    .select-menu{
        flex-basis: 60%;
    }
    .select-btn{
        height: 50px;
        padding:0 20px;
    }
    .sBtn-text{
        font-size: 13px;
    }

}

.gama{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.game{
    flex-basis: 40%;
}

.game span{
    font-size: 20px;
}

.classic{
    flex-basis: 60%;
}

.classic h2{
    font-size: 48px;
    font-family:'MonumentExtended-Regular' ;
}


.comp-details{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.comp-details p{
    color: #575757;
    font-size: 14px;
    font-weight: 700;
}

.comp-details span{
    font-weight: 700;
}

@media screen and (max-width:900px){
    .gama{
        flex-direction: column;
        margin-top: 15%;
    }
    .game{
        flex-basis: 100%;
        display: none;
    }

    .game span{
        font-size: 18px;
    }

    .classic{
        flex-basis: 100%;
    }

    .classic h2{
        font-size: 24px;
        text-align: center;
    }

    .comp-details{
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }

    .comp-details div{
        margin-bottom: 30px;
    }
}



.showcase{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 50px;
    display: grid;
    place-items: center;
    overflow: hidden;
}


.showcase ul{
    width: 100%;
}

.showcase ul li{
    list-style: none;
    border-bottom: .05rem solid #000;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.link{
    display: flex;
    padding: 2rem 0 2rem 0;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    color: #000;
}

.link:hover{
   color: #ccc;
    transform: translate(-5px, -6px);
    transition: all ease 0.5s;
}

.link span{
    display: block;
    z-index: 2;
    mix-blend-mode: difference;
    display: inline-block;
    position: relative;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.link span > img{
    mix-blend-mode: difference;
    z-index: 2;
}

.right-arrow{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.hover-reveal{
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    top: 50%;
    left: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
    overflow: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all .5s ease-out;
}

.hover-reveal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: text-transform .5s ease-out;
}

@media screen and (max-width:900px){
    .showcase{
        margin-top: 15%;
    }

    .link span{
        font-size: 1rem;
    }

    .right-arrow{
        width: 30px;
        height: 30px;
    }

    .link span > img{
        height: 18px;
    }

    .hover-reveal{
        width: 220px;
    }


}


.gp{
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    overflow: hidden;
    background: url(rundown.jpg);
    background-size: contain;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
}

.gp h2{
    font-size: 64px;
    font-family:'MonumentExtended-Regular' ; 
}

.gp p{
    font-size: 18px;
    font-family:'MonumentExtended-Regular' ;  
}

@media screen and (max-width:900px){
    .gp h2{
        font-size: 28px;
        font-family:'MonumentExtended-Regular' ; 
    }
    
    .gp p{
        font-size: 14px;
        font-family:'MonumentExtended-Regular' ;  
    }  
}


.footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
}

.left{
    flex-basis: 35%;
}

.left h2{
    font-size: 36px;
}

.left p{
    font-size: 24px;
    text-decoration: underline;
}

.right{
    flex-basis: 55%;
    display: flex;
    justify-content: space-between;
}

.right p{
    font-weight: 700;
}

.right ul{
    margin-top: 20px;
}

.right ul li{
    list-style: none;
}


@media screen and (max-width:900px){
    .footer{
      flex-direction: column;
    }
    
    .left{
        flex-basis: 100%;
    }
    
    .left h2{
        font-size: 24px;
    }
    
    .left p{
        font-size: 24px;
        text-decoration: underline;
    }
    
    .right{
        flex-basis: 100%;
        flex-direction: column;
        margin-top: 15%;
    }

    .right-con{
        margin-bottom: 30px;
    }
}


footer{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}


.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.social-icon i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    margin-right: 15px;
    cursor: none;
}

hr{
    border: 0;
    border-bottom: 1px solid #000;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    color: #000;
    padding-bottom: 10px;
}


@media (max-width: 700px) {
    .copyright{
        text-align: center;
        margin-left: 0;
        padding-bottom: 20px;
    }
    
}





