@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;
      
} 


@font-face {
    font-family:'MonumentExtended-Regular' ;
    src: url(MonumentExtended-Regular.otf);
}
@font-face {
    font-family:'MonumentExtended-Ultrabold';
    src: url(MonumentExtended-Ultrabold.otf);
}


.hero{
    height: 100vh;
    background: url(Hero.png);
    background-size: cover;
    padding-top: 30px;
}



nav{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    color: #fff;
}


.round{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #262626;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1)
}

.round:hover{
    transform: translate(-2px, -3px);
    transition: all ease 0.5s;
}


.round p{
    color: #fff;
    font-size: 12px;
}
.round p:hover{
    transform: translate(0px,0px);
}

.hero-cta{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-cta h2{
    font-size: 72px;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-family:'MonumentExtended-Regular' ;
}

.hero-cta h2:hover{
    transform: translate(-2px, -3px);
    transition: all ease 0.5s;
}

.hero-cta p{
    font-size: 20px;
}



.notes{
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-con{
    flex-basis: 55%;
}

.arrow{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow img{
    height: 25px;
    transform: rotate(90deg);
}

.white-box{
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.white-box div{
    flex-basis: 55%;
}

.white-box button{
    width: 120px;
    height: 50px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.white-box button:hover{
    background-color: #BC0B16;
    transform: translate(2px, -3px);
    transition: all ease 0.5s;
}


@media screen and (max-width:1200px){
    .hero{
        height: 100vh;
        padding-top: 30px;
        background: url(pexels-pixabay-260409.jpg);
        background-size: cover;
    }


    .hero-cta{
        align-items: flex-start;
    }
    .hero-cta h2{
        font-size: 28px;
        font-family:'MonumentExtended-Regular' ;
    }
    
    .hero-cta p{
        font-size: 14px;
    }

    .arrow-con{
        flex-basis: 15%;
        display: none;
    }

    .arrow{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #262626;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow img{
        height: 20px;
    }

    .white-box{
        flex-basis: 100%;
        padding: 5px 10px;
    }

    .white-box div{
        flex-basis: 65%;
    }


    .white-box span{
        font-size: 13px;
    }
    

}







.vertical-line{
    display: flex;
    justify-content: right;
}
.vertical-line p{
    float: right;
    margin-right:100px ;
    margin-top: -70px;
}
.v{
    height: 30px;
    border: 1px solid #ccc;
    margin-top: -75px;
    margin-right: 70px;
}

@media (max-width: 700px){
    .vertical-line{
        display: block;
    }
    .v{
        height: 30px;
        border: 1px solid #ccc;
        margin-top: 20px;
        margin-right: 70px;
    }
    .vertical-line p{
        float: none;
        text-align: center;
       display: none;
        margin-top: 30px;
        padding-bottom: 30px;
    }
    .v{
        height: 30px;
        border: 1px solid #ccc;
        margin-top: -75px;
        margin-right: 70px;
        display: none;
    }
}

.signup-container{
    width: 100%;
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 100px;
}
.signup-box{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}
.signup-image,.signup-text{
    flex-basis: 50%;
    flex-grow: 1;
}
.signup-image img{
    width: 350px;
    height: 550px;
    object-fit: cover;
    display: block;
    flex-grow: 1;
}
.signup-text{
    background: #111D67;
    color: white;
    padding: 40px 8%;
    min-width: 250px;
}
.signup-text h2{
    font-weight: 600;
}
.signup-text span{
    font-size: 12px;
}
.signup-text span a{
    text-decoration: none;
    color: orangered;
    font-weight: 500;
}

.google-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 20px 0;
}
.google-link img{
    width: 20px;
    margin-right: 10px;
}
.signup-text h4{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.input-field{
    padding: 10px;
    border-radius: 4px;
    border: 2px solid white;
    color: #C7E4E3;
    outline: none;
    display: block;
    width: 100%;
    margin: 5px 0 10px;
    background: transparent;
    
}
.signup-form label{
    font-weight: 500;
    font-size: 12px;
}
.signup-form ::placeholder{
    color: rgb(148, 144, 144);
}
.form-row{
    display: flex;
    align-items: center;
}
.form-row input{
    margin-right: 6px;
}

textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border:2px solid white ;
    color: #C7E4E3;
    outline: none;
    background: transparent;
}
@media (max-width: 700px){
    .signup-image img{
        width: 360px;
        height: 180px;
        margin-top: 40px;
        padding-bottom: 40px;
        object-fit: cover;
        display: block;
        flex-grow: 1;
    }
}

